# Copy relevant values into your root .env
# for deployment behind Nginx reverse proxy.

SERVER_HOST=127.0.0.1
SERVER_PORT=9988
SERVER_BEHIND_PROXY=true
SERVER_PROXY_REAL_API_HEADER=X-Forwarded-For
STORAGE_PATH=./storage
